<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <base src="~/" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - WebAssemblyInMVCApp1</title>


  <link href="https://preview.tabler.io/dist/css/tabler.min.css?1674944800" rel="stylesheet" />

  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

  <link rel="stylesheet" href="~/WebAssemblyInMVCApp1.styles.css" asp-append-version="true" />

  @*<link href="~/_content/Blazorise.Snackbar/blazorise.snackbar.css" rel="stylesheet" />*@
  <link href="~/_content/Radzen.Blazor/css/default.css" rel="stylesheet" />

</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebAssemblyInMVCApp1</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="ComponentExamples" asp-action="Index">Component Examples</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2022 - WebAssemblyInMVCApp1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
  </footer>

  <script src="https://preview.tabler.io/dist/js/tabler.min.js?1674944800" defer></script>
  <script src="~/_content/Radzen.Blazor/Radzen.Blazor.js"></script>

  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)

  @*@await(    Html.RenderComponentAsync<Blazorise.Components.NotificationProvider>(RenderMode.Server))*@

  @await(    Html.RenderComponentAsync<Radzen.Blazor.RadzenNotification>(RenderMode.Server))



</body>
</html>
